// export const theme = {
//     colors: {
//       base1: "#1e464a", // deep green background (navbar about contact)
//       base2: "#fff",
//       primary1: "#0097a7", // light green
//       primary2: "#1e464a", // deepest green (portfolio footer)
//     },
//   };

:root {
  // --base-1: #420516;
  --base-1: #7d1935;
  --base-2: #fff;

  --primary-1: #b42b51;
  // --primary-2: #7d1935;
  --primary-2: #420516;
}
